body {
  background-color: #ecf7ff;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5%;
  font-family: sans-serif;
}

ul,
a {
  list-style: none;
  text-decoration: none;
  color: #6b708d;
}
p {
  margin-bottom: 30px;
}

section {
  margin-top: 60px;
}

.projectSectionImg {
  width: 40%;
}

h1 {
  font-weight: bold;
  font-size: 70px;
  color: #292e47;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  color: #292e47;
}
h3 {
  font-weight: bold;
  font-size: 20px;
  color: #292e47;
}

.blueLetters {
  color: #072ac8;
}

.logos {
  filter: grayscale(100%);
  padding: 2%;
  width: 100px;
  height: 100px;
}

.ourServices,
.recentProjects {
  background-color: #f2f4fc;
  margin-left: 2%;
}

.link-button {
  background-color: #072ac8;
  color: #ecf7ff;
  text-align: center;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.grid-container {
  margin: 30px 0;
  display: grid;
  grid-template-columns: auto auto auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}

.flex-nav {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

.flex-nav li {
  padding: 10%;
}
.grid-footer {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-container-footer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-items: end;
  margin: inherit;
}

.section-text {
  padding: 75px 0;
  text-align: center;
  margin: 10px auto;
}

.parent {
  position: relative;
  top: 0;
  bottom: 0;
}

.image1 {
  position: relative;
  top: 0;
  bottom: 0;
}

.card1 {
  position: absolute;
  right: 325px;
  width: 50%;
}

.card2 {
  position: absolute;
  top: 350px;
  bottom: 0px;
  left: 275px;
  width: 50%;
}

#headerStyle {
  margin-top: 10px;
}
#simplifyImg {
  width: 40%;
}

#clientOpinions {
  background-color: #292e47;
  color: #f2f4fc;
  height: 250px;
  left: 60px;
}

#clientOpinionsP {
  color: #ffc600;
}

#contactSection {
  background-color: #ffc600;
  height: 200px;
  left: 60px;
}

#h2White {
  color: #ecf7ff;
}
#heroImg {
  width: 80%;
  margin-left: 40px;
}

#homeColor {
  color: #072ac8;
}

#imgPlaceholder {
  background: "";
}

@media (max-width: 480px) {
  h1 {
    font-weight: bold;
    font-size: 40px;
    color: #292e47;
  }
  #contact-button {
    display: none;
  }
  .grid-container {
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
  }
  .parent {
    position: relative;
    top: 0;
    bottom: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    bottom: 0;
  }
  .card1 {
    position: absolute;
    right: 170px;
    width: 50%;
  }
  .card2 {
    position: absolute;
    top: 210px;
    left: 210px;
    width: 50%;
  }
  .flex-container {
    display: inline-flex;
    padding: 0;
    margin: 0;
  }
  #get-in-touch {
    margin-right: 30px;
  }
  #nav-format {
    display: grid;
  }
}
