body {
  background-color: #f2f4fc;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  font-family: sans-serif;
}

ul,
a {
  list-style: none;
  text-decoration: none;
  color: #6b708d;
  font-size: 20px;
}
p {
  margin-bottom: 30px;
  color: #6b708d;
  font-size: 23px;
}

section {
  margin-top: 60px;
}

h1 {
  font-weight: bold;
  font-size: 65px;
  color: #292e47;
  padding-block-start: 80px;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  color: #292e47;

  margin-bottom: 50px;
}
h3 {
  font-weight: bold;
  font-size: 25px;
  color: #292e47;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  color: #292e47;
}

.blueLetters {
  color: #072ac8;
  margin-top: 30px;
}

.ourServices,
.recentProjects {
  background-color: white;
  margin-left: 6%;
}

.projectSectionImg {
  width: 357px;
  height: 240px;
}

.column {
  float: left;
  width: auto;
  padding: 0 40px 0 0;
}

.row {
  margin: 0;
  display: inline-flex;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: inherit;
  background-color: white;
  padding-bottom: 5px;
  height: 420px;
  width: 357px;
}

.card-ourServices {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: inherit;
  background-color: white;
  height: 360px;
  width: 357px;
  padding-top: 40px;
}

.ourServicesImg {
  margin-left: 20.3906px;
  border-radius: 50%;
  background-color: #ecf7ff;
  padding: 20px;
  display: inline-flex;
}

.header-background {
  background-color: white;
}

.card-style {
  background-color: white;
  font-size: 15px;
}

.card-style-ourServices {
  background-color: white;
}

.link-button {
  background-color: #1239c8;
  color: #ecf7ff;
  text-align: center;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.grid-container {
  margin: 70px 0;
  display: grid;
  grid-template-columns: auto auto auto;
}

.flex-container {
  display: inline-flex;
  justify-content: space-around;
  margin-top: inherit;
  padding: 0;
}

.flex-container-logos {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0;
}

.logos {
  filter: grayscale(100%);
  padding: 2%;
  width: 100px;
  height: 100px;
}

.flex-container-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
  padding: 0;
}

.flex-nav {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

.flex-nav li {
  padding: 10%;
}
.grid-footer {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-container-footer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-items: flex-start;
  margin: inherit;
}

.section-text {
  text-align: center;
  margin: 10px auto;
}

.parent {
  position: relative;
  top: 0;
  bottom: 0;
  width: 80%;
  margin-left: 40px;
}

.image1 {
  position: relative;
  top: 0;
  bottom: 0;
}

.card1 {
  position: absolute;
  right: 285px;
  width: 60%;
}

.card2 {
  position: absolute;
  top: 390px;
  bottom: 0px;
  left: 330px;
  width: 55%;
}

.centered-h2 {
  position: absolute;
  top: 15%;
  transform: translateX(62%);
}

.centered-p {
  position: absolute;
  bottom: 40%;
  transform: translateX(75%);
}

.centered-profile {
  position: absolute;
  bottom: 20%;
  transform: translateX(800%);
  width: 70px;
  height: 60px;
}
.centered-name {
  position: absolute;
  bottom: 20%;
  transform: translateX(550%);
}
.centered-booking {
  position: absolute;
  bottom: 16%;
  transform: translateX(733%);
}

.top-right {
  position: absolute;
  top: 1820px;
  left: 150px;
  width: 150px;
  height: 150px;
}

.top-left {
  position: absolute;
  top: 1820px;
  right: 160px;
  width: 150px;
  height: 150px;
}

.bottom-left {
  position: absolute;
  bottom: -1500px;
  right: 160px;
  width: 150px;
  height: 150px;
}

.bottom-right {
  position: absolute;
  bottom: -1500px;
  left: 150px;
  width: 150px;
  height: 150px;
}

#headerStyle {
  margin-top: 10px;
}

#simplifyImg {
  width: 40%;
}

#clientOpinions {
  background-color: #292e47;
  position: relative;
  width: 1292px;
  height: 615px;
  margin: 100px -70px;
}

#h2White {
  color: #ecf7ff;
}
#heroImg {
  width: 94%;
  margin-left: 40px;
  float: right;
}

#homeColor {
  color: #072ac8;
}

#imgPlaceholder {
  background: "";
}

#get-in-touch {
  margin-right: 30px;
}

#circle-footer {
  height: 30px;
}
.memojiSize {
  width: 100%;
  height: 100%;
}
#profileStyle {
  border-radius: 50%;
  width: inherit;
  height: inherit;
}
#bookingStyle {
  color: white;
  font-size: 15px;
}
#nameStyle {
  color: #a2d6f9;
  font-size: 18px;
}

/* Contact Section */

.flex-container-contactSection {
  display: flex;
  justify-content: center;
  margin-top: inherit;
  padding: 0;
}

.input-style {
  width: 100%;
  height: 100%;
  border: 0;
  padding-left: 55px;
  font-size: 18px;
}

.link-button-suscribe {
  background-color: #1239c8;
  color: #ecf7ff;
  text-align: center;
  text-decoration: none;
  padding: 25px 60px;
  position: relative;
  font-size: 18px;
}

#clientOpinionsP {
  color: #ffc600;
}

#contactSection {
  background-color: #ffc600;
  height: 300px;
  margin: 150px -70px;
  padding: 60px 0;
}

#contactSection-imgStyle {
  width: 100%;
}
#container-contactSection {
  width: 330px;
  height: 70px;
  transform: translateX(-35px);
  position: relative;
}
#mailImg {
  position: relative;
  bottom: -55px;
  transform: translateX(25%);
  width: 27px;
  padding-left: 10px;
}

#container-button-contactSection {
  transform: translate(35px, 60px);
}

#p-contactSection {
  color: #292e47;
  font-size: 20px;
}

/* Project page */

.p-projectSection {
  color: #292e47;
}
#h1-projectSection {
  font-weight: bold;
  font-size: 65px;
  color: #292e47;
  padding-block-start: 80px;
  margin-bottom: 0;
}

#container-projectSection {
  display: inline-flex;
  width: 1152px;
  justify-content: space-between;
  padding-bottom: 60px;
}
#simplifyStyle {
  height: 500px;
}
#img-simplifyStyle {
  height: 100%;
  width: 100%;
}
#date {
  color: #6b708d;
}

/* Contact Page */

.grid-contacPage {
  display: grid;
  grid-template-areas:
    "fullName fullName"
    "email phone"
    "small small"
    "message message";
  column-gap: 30px;
  row-gap: 30px;
  height: 600px;
}

.grid-contacPage > div > div > label {
  align-self: start;
  color: #6b708d;
  font-size: 23px;
}
.grid-contacPage > div > div {
  padding-bottom: 10px;
}
.grid-contacPage > div > div > input {
  width: 1132px;
  color: #6b708d;
  border: none;
  background-color: #e6e9f1;
  height: 60px;
  font-size: 23px;
  padding: 0 0 0 20px;
}

.grid-contacPage > div > input {
  width: 540px;
  color: #6b708d;
  border: none;
  background-color: #e6e9f1;
  height: 60px;
  font-size: 23px;
  padding: 0 0 0 20px;
}

.grid-contacPage > div > div > textarea {
  width: 1132px;
  color: #6b708d;
  border: none;
  background-color: #e6e9f1;
  height: 240px;
  font-size: 23px;
  font-family: sans-serif;
  padding: 15px 0 0 20px;
  resize: none;
}

.link-button-submit {
  background-color: #1239c8;
  color: #ecf7ff;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  position: absolute;
  font-size: 19px;
  width: 1152px;
}

.grid-footer-contactPage {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 150px;
}

#item1 {
  grid-area: fullName;
}

#item2 {
  grid-area: email;
}

#item3 {
  grid-area: phone;
}

#item4 {
  grid-area: message;
}
@media (max-width: 390px) {
  body {
    margin: 0;
  }
  h1 {
    font-weight: bold;
    font-size: 40px;
    color: #292e47;
  }
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  ul {
    padding: 0;
  }
  li {
    padding: 20px 20px 20px 0;
  }

  .grid-container {
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
  }
  .parent {
    position: relative;
    top: 0;
    bottom: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    bottom: 0;
  }
  .card1 {
    position: absolute;
    right: 165px;
    width: 190px;
  }
  .card2 {
    position: absolute;
    top: 230px;
    left: 200px;
    width: 190px;
  }
  .flex-container {
    display: inline-flex;
    padding: 0;
    margin-top: 40px;
    flex-wrap: wrap;
  }
  .flex-container-nav {
    display: inline-flex;
    padding: 0;
    margin: 0;
  }
  .flex-container-logos {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    padding: 0;
    flex-wrap: wrap;
  }
  .logos {
    filter: grayscale(100%);
    padding: 2%;
    height: 30px;
    width: auto;
  }
  .row {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
  }
  .column {
    padding: 0 0 40px 0;
  }
  .grid-footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    padding-left: 20px;
  }
  .grid-container-footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-items: initial;
    margin: inherit;
    padding-bottom: 30px;
  }
  .section-text {
    text-align: center;
    padding: 0;
  }
  .centered-h2 {
    position: absolute;
    top: 20%;
    transform: translateX(0%);
  }
  .centered-p {
    position: absolute;
    bottom: 30%;
    transform: translateX(7%);
  }
  .centered-profile {
    position: absolute;
    bottom: 16%;
    transform: translateX(190%);
    width: 60px;
    height: 50px;
  }
  .centered-name {
    position: absolute;
    bottom: 15%;
    transform: translateX(160%);
  }
  .centered-booking {
    position: absolute;
    bottom: 12%;
    transform: translateX(215%);
  }
  .memojiSize {
    width: 100%;
    height: 100%;
  }

  .top-right,
  .top-left,
  .bottom-left,
  .bottom-right {
    display: none;
  }

  .flex-nav {
    display: inline-flex;
    margin-left: 0;
    margin-right: auto;
  }

  .flex-nav li {
    padding: 20px 10px;
  }

  #home-nav {
    padding: 20px 10px 20px 50px;
  }
  #contact-button {
    display: none;
  }
  #heroImg {
    width: 90%;
    margin: 0;
  }
  #get-in-touch {
    margin-right: 30px;
  }
  #nav-format {
    display: grid;
  }
  #clientOpinions {
    position: relative;
    background-color: #292e47;
    color: #f2f4fc;
    margin: 0 0 100px 0;
    height: 500px;
    width: 390px;
  }
  #contactSection {
    background-color: #ffc600;
    height: 300px;
    padding: 50px;
    margin: 0 0 100px 0;
  }

  #clientOpinionsP {
    color: #ffc600;
    font-size: 15px;
  }
  #profileStyle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  #nameStyle {
    color: #a2d6f9;
    font-size: 18px;
  }
  #bookingStyle {
    color: white;
    font-size: 15px;
  }

  /* Contact Section */

  .flex-container-contactSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: inherit;
    padding: 0;
  }

  .input-style {
    width: 80%;
    height: 100%;
    border: 0;
  }

  .link-button-suscribe {
    background-color: #1239c8;
    color: #ecf7ff;
    text-align: center;
    text-decoration: none;
    padding: 15px 110px;
  }

  #container-contactSection {
    width: 290px;
    height: 50px;
    transform: translate(-1px, -55px);
    position: relative;
  }

  #container-button-contactSection {
    transform: translate(0);
  }

  #mailImg {
    position: relative;
    bottom: -45px;
    transform: translateX(25%);
    width: 27px;
    padding-left: 10px;
  }

  /* Project page */
  #simplifyStyle {
    height: 250px;
  }
  #container-projectSection {
    display: inline-flex;
    flex-direction: column;
    padding-bottom: 0;
    width: auto;
  }
  #h1-projectSection {
    padding-block-start: 0;
    margin-block-end: 0.67em;
  }
  #p-projectSection-title {
    margin-bottom: 0;
  }
  #mainStyle {
    text-align: center;
  }
  .p-projectSection {
    color: #292e47;
    font-size: 20px;
    margin-bottom: 30px;
  }

  /* Contact Page */

  .grid-contacPage {
    display: grid;
    grid-template-areas:
      "fullName "
      "email "
      "phone"
      "message ";
    column-gap: 30px;
    row-gap: 30px;
    height: 900px;
  }

  .grid-contacPage > div > div > input {
    width: 370px;
    color: #6b708d;
    border: none;
    background-color: #e6e9f1;
    height: 60px;
    font-size: 23px;
    padding: 0 0 0 20px;
  }
  .grid-contacPage > div > input {
    width: 370px;
    color: #6b708d;
    border: none;
    background-color: #e6e9f1;
    height: 60px;
    font-size: 23px;
    padding: 0 0 0 20px;
  }

  .grid-contacPage > div > div > textarea {
    width: 370px;
    color: #6b708d;
    border: none;
    background-color: #e6e9f1;
    height: 240px;
    font-size: 23px;
    font-family: sans-serif;

    padding: 15px 0 0 20px;
    margin-block-end: 50px;
  }

  .link-button-submit {
    background-color: #1239c8;
    color: #ecf7ff;
    text-align: center;
    text-decoration: none;
    padding: 20px 165.43px;
    position: inherit;
    font-size: 19px;
    width: 100%;
  }

  .grid-footer-contactPage {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    padding-left: 20px;
    padding-top: 106.8px;
  }

  #formStyle {
    text-align: center;
  }
}
